
.button1 {
    display: inline-block;
    border-radius: 4px;
    background-color: #dcd449;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 20px;
    padding: 25px;
    width: 125x;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
  }

  .button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button1:hover span {
    padding-right: 25px;
  }

  .button1:hover span:after {
    opacity: 1;
    right: 0;
  } 

  .button2 {
    display: inline-block;
    border-radius: 4px;
    background-color: #dcd449;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 20px;
    padding: 25px;
    width: 125x;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
  }

  .button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button2:hover span {
    padding-right: 25px;
  }

  .button2:hover span:after {
    opacity: 1;
    right: 0;
  }

    .button3 {
        display: inline-block;
        border-radius: 4px;
        background-color: #dcd449;
        border: none;
        color: #000000;
        text-align: center;
        font-size: 20px;
        padding: 25px;
        width: 125x;
        transition: all 0.5s;
        cursor: pointer;
        margin: 10px;
      }
    
      .button3 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
    
      .button3 span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
    
      .button3:hover span {
        padding-right: 25px;
      }
    
      .button3:hover span:after {
        opacity: 1;
        right: 0;
      } 

      .button4 {
        display: inline-block;
        border-radius: 4px;
        background-color: #dcd449;
        border: none;
        color: #000000;
        text-align: center;
        font-size: 20px;
        padding: 25px;
        width: 125x;
        transition: all 0.5s;
        cursor: pointer;
        margin: 10px;
      }
    
      .button4 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
    
      .button4 span:after {
        content: ' >';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
    
      .button4:hover span {
        padding-right: 25px;
      }
    
      .button4:hover span:after {
        opacity: 1;
        right: 0;
      } 



      .button5 {
        display: inline-block;
        border-radius: 4px;
        background-color: #dcd449;
        border: none;
        color: #000000;
        text-align: center;
        font-size: 20px;
        padding: 20px;
        width: 70x;
        transition: all 0.5s;
        cursor: pointer;
        margin: 10px;
      }
    
      .button5 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
    
      .button5 span:after {
        content: '< ';
        position: absolute;
        opacity: 0;
        top: 0;
        left: -20px;
        transition: 0.5s;
      }
    
      .button5:hover span {
        padding-left: 25px;
      }
    
      .button5:hover span:after {
        opacity: 1;
        left: 0;
      } 

      